body{
  background-color: #3a4965;
  margin: 0px;
  padding: 0px;
}
/* arimo-regular - latin */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/arimo-v11-latin/arimo-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Arimo Regular'), local('Arimo-Regular'),
    url('../fonts/arimo-v11-latin/arimo-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/arimo-v11-latin/arimo-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/arimo-v11-latin/arimo-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/arimo-v11-latin/arimo-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/arimo-v11-latin/arimo-v11-latin-regular.svg#Arimo') format('svg'); /* Legacy iOS */
}
/* arimo-700 - latin */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/arimo-v11-latin/arimo-v11-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Arimo Bold'), local('Arimo-Bold'),
    url('../fonts/arimo-v11-latin/arimo-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/arimo-v11-latin/arimo-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/arimo-v11-latin/arimo-v11-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/arimo-v11-latin/arimo-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/arimo-v11-latin/arimo-v11-latin-700.svg#Arimo') format('svg'); /* Legacy iOS */
}
table{
  margin:17px auto;
  text-align: center;
  background-color: white;
  border-collapse: collapse;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  color: #848484;
}
td{
  width:277px;
}
td:first-child{
  width:312px
}
tr:first-child td:nth-child(2) {
    background-color: #89c331;
    color: #FFF;
    font-size: 24px;
}

tr:first-child td:nth-child(3) {
    background-color: #f04a56;
    color: #FFF;
    font-size: 30px;
}

tr:first-child td:nth-child(4) {
    background-color: #20807c;
    color: #FFF;
    font-size: 24px;
}
tr:first-child td:first-child {
    background-color: #FFF;
    font-size: 18px;
    vertical-align: bottom;
    color: #484848;
}
tr:nth-child(2) td:first-child{
  background-color: #FFF;
  font-size: 30px;
  font-weight: 700;
  vertical-align: top;
  color: #484848;
}
td .price span{
  width:40%;
  float:left;
  display: inline-block;
  text-align: left;
}
td .price span:first-child{
  height:70px;
  width:50%;
  text-align: right;
  padding-right: 10px;
  font-size: 57px;
  font-weight: 700;
}
td .price span:nth-child(2){
  padding-top:10px;
  font-size: 25px;
  font-weight: 700;
}
.left-column-text{
  padding-left: 10px;
}
td:first-child {
  box-shadow: inset -7px 0 7px -7px rgba(0,0,0,0.30);
}
td:nth-child(3) {
  box-shadow: inset 7px 0 7px -7px rgba(0,0,0,0.30);
}
td:nth-child(4) {
  box-shadow: inset 7px 0 7px -7px rgba(0,0,0,0.30);
}
tr:last-child td:first-child {
  background-color: #dddddd;
}
tr:last-child td:nth-child(3) {
  background-color: #f4f4f4;
}
tr:last-child td:nth-child(even) {
  background-color: #eeeeee;
}
tr:nth-child(2n+3){
  background-color: #f2f2f2;
}
tr:nth-child(2n+4){
  background-color: #e3e3e3;
}
tr {
  height: 70px;
}
tr:nth-child(2) {
  height: 87px;
}
tr:last-child a{
  display: inline-block;
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
  width: 195px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #484848;
  border-bottom: 7px solid rgba(0, 0, 0, 0.3);
}
tr:last-child a:hover{
  box-shadow: inset -12px -5px 7px -9px rgba(255,255,255,0.5);
}
tr:last-child td:nth-child(2) a{
  background-color:#89c331;
}
tr:last-child td:nth-child(3) a{
  background-color:#f04a56;
}
tr:last-child td:nth-child(4) a{
  background-color:#20807c;
}
tr:last-child{
  height:110px;
}
