body {
	margin:0px;
	padding:0px;
	font-family:Verdana, sans-serif;
	font-weight: 400;
	color:white;
	background:black url("../img/main.jpg")no-repeat center top;
	background-size: cover;
}
a { 
	text-decoration: none;
	color:white;
   }
ul{
	padding:0px;
	margin:0px;	
	list-style-type: none;
   }
header{
	height:54px;
	background-color: rgba(0, 0, 0, 0.41);
	margin:0px;
	padding:0px;
}
main{
	width:445px;
	height:585px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-265px);
	background-color:#fff;
	color:#000;
	border-radius: 10px;
}
.top-navigation{
	width:1366px;
	line-height:54px;
	margin:auto;
}
.top-navigation a,.top-navigation ul,.top-navigation li, .top-right-navigation > div{
	text-align:center;
	display:inline-block;
}
.top-navigation a:hover{
	color:#3cb878;
}
.top-navigation > a{
	font-weight: 700;
	font-size:20px;
	padding-left:82px;
}
.top-right-navigation{
	float:right;
}
.top-right-navigation a{
	color:#3cb878;
	font-size:12px;
}
.top-right-navigation a:hover{
	text-decoration: underline;
}
.top-nav-hrf{
	padding-right:75px;
	padding-left:24px;
}
ul.top-nav-img{
	padding-right:24px;
	transform: translate(0, 5px);
}
ul.top-nav-img li{
	margin-left:20px;
}

.top-right-navigation > div{
	height:19px;
	width:1px;
	overflow:auto;
	transform: translate(0, 5px);
	background-color: rgba(223, 221, 221, 0.1);
}
.top-nav-img li:nth-child(1) a{
	width:20px;
	height:20px;
	background:url('../img/icon-top.png') 0px 0px;
}
.top-nav-img li:nth-child(2) a{
	width:29px;
	height:20px;
	background:url('../img/icon-top.png') -20px 0px ;
}
.top-nav-img li:nth-child(3) a{
	width:21px;
	height:20px;
	background-color:#000;
	background:url('../img/icon-top.png') -48px 0px;
}
.top-nav-img li:nth-child(1) a:hover{
	background:url('../img/icon-top-hvr.png') 0px 0px;
}
.top-nav-img li:nth-child(2) a:hover{
	background:url('../img/icon-top-hvr.png') -20px 0px ;
}
.top-nav-img li:nth-child(3) a:hover{
	background:url('../img/icon-top-hvr.png') -48px 0px;
}
.green-box{ 
	width:18px;
	height:18px;
	position:relative;
	top:29px;
	left:0px;
	background-color:#3cb878;
 } 
.reg-form{
	width:324px;
	height:524px;
	margin: 10px auto;
}
.sign{
	width:324px;
	font-size:20px;
}
.reg-form > a{
	margin-top:7px;
	color:#3cb878;
	font-size:14px;
	float:right;
}
.reg-form a:hover{
	text-decoration: underline;
}

.fb, .google{
	width:156px;
	height:46px;
	display:inline-block;
	background: #305db8;
	border:1px solid #305db8;
	border-radius:3px;
	color:#fff;
}
.google{
	background: #df4a32;
	border:1px solid #df4a32;
	margin-left:2px;
}
.fb:hover{
	background:#264b96;
	border-color:#264b96;
}
.google:hover{
	background:#c3412c;
	border-color:#c3412c;
}
.login-fb-google{
	padding:15px 0px;
}
.fbg-text{
	height:36px;
	width:108px;
	margin-top:5px;
	line-height:36px;
	text-align:center;
	display:inline-block;
	border-left:1px solid rgba(0, 0, 0, 0.1);
}
.fb-icon,.google-icon{
	height:46px;
	width:46px;
	float:left;
	background: url("../img/fb.png") no-repeat center;
}

.google-icon{
	background:url("../img/google.png") no-repeat center;
}
.or-left,.or-right{
	width:135px;
	height:1px;
	margin-top:9px;
	float:left;
	background-color:#eaeaea;
}
.or-right{
	float:right;
}
.or{
	height:15px;
	color:#848484;
	font-size:14px;
	text-align:center;
}
.agree{
	font-size:14px;
}
.terms{
	cursor: pointer;
	color:#3cb878;
}
input{
	width:304px;
	height:44px;
	margin:0px;
	padding:0px 0px 0px 20px;
	border:1px solid #bebebe;
	border-radius:3px;
	color:#bebebe;
	font-size:16px;	
}
input:focus{
	border:1px solid #fff;
	outline:none;
	filter:drop-shadow(-1px 3px 3px #bebebe);
}
input[type=submit]{
	width:324px;
	padding:0px;
	border:none;
	color:#fff;
	background-color:#3cb878;
	border:1px solid #3cb878;
	cursor:pointer;	
}
#agree{
	width:20px;
	height:20px;
}
.agree label{
	cursor: pointer;
}
.container {
	width:10px;
	height:10px;
	padding-right:15px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 10px;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
	border:1px solid #bebebe;
	border-radius:3px;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 4px;
    width: 4px;
    height: 9px;
    border: solid #3cb878;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

